<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.smartadmin.module.oil.scjt.dao.TradeDao">

    <resultMap id="CarInOutNumVO" type="net.lab1024.smartadmin.module.oil.scjt.domain.vo.CarInOutNumVO"></resultMap>
    <resultMap id="CarInOutNumExcelVO" type="net.lab1024.smartadmin.module.oil.scjt.domain.vo.CarInOutNumExcelVO"></resultMap>

    <resultMap id="TradeVO" type="net.lab1024.smartadmin.module.oil.scjt.domain.vo.TradeVO"></resultMap>

    <resultMap id="MatchRatioVO" type="net.lab1024.smartadmin.module.oil.scjt.domain.vo.MatchRatioVO"></resultMap>

    <resultMap id="MatchTrackVO" type="net.lab1024.smartadmin.module.oil.scjt.domain.vo.MatchTrackVO"></resultMap>

    <!-- 交易明细/车牌矫正 -->
    <select id="queryByPage" resultMap="TradeVO">
        SELECT
            *
        FROM
            fullingdb.bus_tradelog
        <where>
            <if test="queryDTO.startTime != null">
                AND endtime <![CDATA[ >= ]]> #{queryDTO.startTime}
            </if>
            <if test="queryDTO.endTime != null">
                AND endtime <![CDATA[ <= ]]> #{queryDTO.endTime}
            </if>
            <if test="queryDTO.stationAreaName != null and queryDTO.stationAreaName != ''">
                AND station_area_name LIKE CONCAT('%', #{queryDTO.stationAreaName}, '%')
            </if>
            <if test="queryDTO.stationExpName != null and queryDTO.stationExpName != ''">
                AND station_exp_name LIKE CONCAT('%', #{queryDTO.stationExpName}, '%')
            </if>
            <if test="queryDTO.stationExpServiceArea != null and queryDTO.stationExpServiceArea != ''">
                AND station_exp_service_area LIKE CONCAT('%', #{queryDTO.stationExpServiceArea}, '%')
            </if>
            <if test="queryDTO.stationCode != null and queryDTO.stationCode != ''">
                AND station_code LIKE CONCAT('%', #{queryDTO.stationCode}, '%')
            </if>
            <if test="queryDTO.stationName != null and queryDTO.stationName != ''">
                AND station_name LIKE CONCAT('%', #{queryDTO.stationName}, '%')
            </if>
            <if test="queryDTO.carNumber != null and queryDTO.carNumber != ''">
                AND carnumber LIKE CONCAT('%', #{queryDTO.carNumber}, '%')
            </if>
            <if test="queryDTO.oilCode != null and queryDTO.oilCode != ''">
                AND oilcode LIKE CONCAT('%', #{queryDTO.oilCode}, '%')
            </if>
            <if test="queryDTO.billNo != null and queryDTO.billNo != ''">
                AND billNo = #{queryDTO.billNo}
            </if>
            <if test="queryDTO.nozzleNo != null and queryDTO.nozzleNo != ''">
                AND nozzleno = #{queryDTO.nozzleNo}
            </if>
        </where>
    </select>

    <select id="queryMatchRatio" resultMap="MatchRatioVO">
        SELECT
            COUNT( distinct endtime) total_deal,
            SUM(case when length(trim(carnumber)) > 1 then 1 else 0 end) is_match
        FROM
        fullingdb.bus_tradelog
        <where>
            <if test="queryDTO.startTime != null">
                AND endtime <![CDATA[ >= ]]> #{queryDTO.startTime}
            </if>
            <if test="queryDTO.endTime != null">
                AND endtime <![CDATA[ <= ]]> #{queryDTO.endTime}
            </if>
            <if test="queryDTO.stationAreaName != null and queryDTO.stationAreaName != ''">
                AND station_area_name LIKE CONCAT('%', #{queryDTO.stationAreaName}, '%')
            </if>
            <if test="queryDTO.stationExpName != null and queryDTO.stationExpName != ''">
                AND station_exp_name LIKE CONCAT('%', #{queryDTO.stationExpName}, '%')
            </if>
            <if test="queryDTO.stationExpServiceArea != null and queryDTO.stationExpServiceArea != ''">
                AND station_exp_service_area LIKE CONCAT('%', #{queryDTO.stationExpServiceArea}, '%')
            </if>
            <if test="queryDTO.stationCode != null and queryDTO.stationCode != ''">
                AND station_code LIKE CONCAT('%', #{queryDTO.stationCode}, '%')
            </if>
            <if test="queryDTO.stationName != null and queryDTO.stationName != ''">
                AND station_name LIKE CONCAT('%', #{queryDTO.stationName}, '%')
            </if>
            <if test="queryDTO.carNumber != null and queryDTO.carNumber != ''">
                AND carnumber LIKE CONCAT('%', #{queryDTO.carNumber}, '%')
            </if>
            <if test="queryDTO.oilCode != null and queryDTO.oilCode != ''">
                AND oilcode LIKE CONCAT('%', #{queryDTO.oilCode}, '%')
            </if>
            <if test="queryDTO.billNo != null and queryDTO.billNo != ''">
                AND billNo = #{queryDTO.billNo}
            </if>
            <if test="queryDTO.nozzleNo != null and queryDTO.nozzleNo != ''">
                AND nozzleno = #{queryDTO.nozzleNo}
            </if>
        </where>
    </select>

    <!-- 进出站频次 -->
    <select id="getCarInOutNum" resultMap="CarInOutNumVO">
        SELECT
            carnumber, count( key1 ) frequency
        FROM
            (
            SELECT
                DISTINCT carnumber, endtime, key1
            FROM
                (
                SELECT
                    carnumber, date( date_add( endtime, INTERVAL 8 HOUR ) ) endtime, CONCAT( carnumber, ' ', date( date_add( endtime, INTERVAL 8 HOUR ) ) ) key1
                FROM
                    fullingdb.bus_tradelog
                WHERE
                    <if test="queryDTO.startTime != null">
                        endtime <![CDATA[ >= ]]> #{queryDTO.startTime} AND
                    </if>
                    <if test="queryDTO.endTime != null">
                        endtime <![CDATA[ <= ]]> #{queryDTO.endTime} AND
                    </if>
                    <if test="queryDTO.stationCode != null and queryDTO.stationCode != ''">
                        station_code LIKE CONCAT('%', #{queryDTO.stationCode}, '%') AND
                    </if>
                    <if test="queryDTO.stationName != null and queryDTO.stationName != ''">
                        station_name LIKE CONCAT('%', #{queryDTO.stationName}, '%') AND
                    </if>
                    <if test="queryDTO.carNumber != null and queryDTO.carNumber != ''">
                        carnumber LIKE CONCAT('%', #{queryDTO.carNumber}, '%') AND
                    </if>
                    ASCII( carnumber ) > 127
                ) a
            ) b
        GROUP BY carnumber
        <if test="queryDTO.minFrequency != null and queryDTO.minFrequency != '' and queryDTO.maxFrequency != null and queryDTO.maxFrequency != ''">
            HAVING COUNT( key1 ) <![CDATA[ >= ]]> #{queryDTO.minFrequency} AND COUNT( key1 ) <![CDATA[ <= ]]> #{queryDTO.maxFrequency}
        </if>

    </select>

    <!-- 车辆识别情况跟踪 -->
    <select id="queryMatchTrackByPage" resultMap="MatchTrackVO">
        SELECT
            station_code, station_name,
            count(distinct endtime) total_deal,
            SUM(case when length(trim(carnumber)) > 1 then 1 else 0 end) is_match
        FROM
        fullingdb.bus_tradelog
        <where>
            <if test="queryDTO.startTime != null">
                AND endtime <![CDATA[ >= ]]> #{queryDTO.startTime}
            </if>
            <if test="queryDTO.endTime != null">
                AND endtime <![CDATA[ <= ]]> #{queryDTO.endTime}
            </if>
            <if test="queryDTO.stationAreaName != null and queryDTO.stationAreaName != ''">
                AND station_area_name LIKE CONCAT('%', #{queryDTO.stationAreaName}, '%')
            </if>
            <if test="queryDTO.stationExpName != null and queryDTO.stationExpName != ''">
                AND station_exp_name LIKE CONCAT('%', #{queryDTO.stationExpName}, '%')
            </if>
            <if test="queryDTO.stationExpServiceArea != null and queryDTO.stationExpServiceArea != ''">
                AND station_exp_service_area LIKE CONCAT('%', #{queryDTO.stationExpServiceArea}, '%')
            </if>
            <if test="queryDTO.stationCode != null and queryDTO.stationCode != ''">
                AND station_code LIKE CONCAT('%', #{queryDTO.stationCode}, '%')
            </if>
            <if test="queryDTO.stationName != null and queryDTO.stationName != ''">
                AND station_name LIKE CONCAT('%', #{queryDTO.stationName}, '%')
            </if>
            <if test="queryDTO.carNumber != null and queryDTO.carNumber != ''">
                AND carnumber LIKE CONCAT('%', #{queryDTO.carNumber}, '%')
            </if>
        </where>
        GROUP BY
            station_area_name, station_exp_name, station_exp_service_area, station_code, station_name

    </select>

    <!-- 车牌跟踪 -->
    <select id="">
        SELECT
            left(carnumber,1)省,
            mid(carnumber,2,1)市,
            carnumber 车牌,
            DATE_FORMAT(date_add(t.endtime,interval 8 hour),'%Y-%m-%d') 日期,
            date_add(t.endtime,interval 8 hour) 时间,
            t.starttime 提枪时间,
            t.endtime 挂枪时间,
            o.paytime 支付时间,
            o.billno 票号,
            o.realamount 支付金额,
            o.volume 加油量,
            CONCAT(t.oilcode,t.oilclass)油品号,
            t.oilclass 油类型,
            t.station_name 站点名称,
            t.station_code 站点编码,
            station_area_name 片区,
            station_exp_name 线路,
            station_exp_service_area 站组
        from
            (
            select paytime,billno,realamount,volume,station_code,nozzleno,startread,endread,max(update_time)
            from fullingdb.bus_orderlog
            group by paytime,billno,realamount,volume,station_code,nozzleno,startread,endread
            ) o
            left join
            (
            select station_code,nozzleno,startread,endread,carnumber,endtime,starttime,oilclass,oilcode,station_name,station_area_name,station_exp_name,station_exp_service_area
            from fullingdb.bus_tradelog
            where ASCII(carnumber) <![CDATA[>]]> 127
            ) t
        on o.station_code=t.station_code
            and o.nozzleno=t.nozzleno
            and o.startread=t.startread
            and o.endread=t.endread
        where length(carnumber) <![CDATA[>]]> 0
    </select>

    <!-- 车流走势 -->
    <select id="">
        SELECT
            left(carnumber,1)省,
            mid(carnumber,2,1)市,
            carnumber 车牌,
            DATE_FORMAT(date_add(endtime,interval 8 hour),'%Y-%m-%d') 日期,
            date_add(endtime,interval 8 hour) 挂枪时间,
            count(date_add(endtime,interval 8 hour)) 交易笔数,
            volume 加油量,
            CONCAT(oilcode,oilclass)油品号,
            oilclass 油类型,
            station_name 站点名称,
            station_code 站点编码,
            station_area_name 片区,
            station_exp_name 线路,
            station_exp_service_area 站组
        FROM fullingdb.bus_tradelog
        WHERE ASCII(carnumber) <![CDATA[>]]> 127 AND LENGTH(oilclass) <![CDATA[>]]> 0
        GROUP BY 省,市,车牌,日期,挂枪时间,加油量,油品号,油类型,
            站点名称,站点编码,片区,线路,站组
        ORDER BY endtime
    </select>

    <!-- 七日匹配率变化 -->
    <select id="">
        SELECT  endtime,nozzleno,station_code,station_name,date_format(endtime,'%Y-%m-%d') 日期,
                (case when length(carnumber) > 1 then 1 else 0 end) ismatch
        from fullingdb.bus_tradelog
        where station_name = ?{站点名称} AND (endtime BETWEEN date_format( date_sub(?{截止时间} , interval 7 day) ,'%Y-%m-%d') and ?{截止时间})
    </select>
</mapper>