<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.smartadmin.module.oil.scjt.dao.TradeDao">

    <resultMap id="CarInOutNumVO" type="net.lab1024.smartadmin.module.oil.scjt.domain.vo.CarInOutNumVO"></resultMap>
    <resultMap id="CarInOutNumExcelVO" type="net.lab1024.smartadmin.module.oil.scjt.domain.vo.CarInOutNumExcelVO"></resultMap>

    <resultMap id="TradeVO" type="net.lab1024.smartadmin.module.oil.scjt.domain.vo.TradeVO"></resultMap>

    <resultMap id="MatchRatioVO" type="net.lab1024.smartadmin.module.oil.scjt.domain.vo.MatchRatioVO"></resultMap>

    <resultMap id="MatchTrackVO" type="net.lab1024.smartadmin.module.oil.scjt.domain.vo.MatchTrackVO"></resultMap>

    <resultMap id="CarTraceVO" type="net.lab1024.smartadmin.module.oil.scjt.domain.vo.CarTraceVO"></resultMap>

    <resultMap id="CarTrafficFlowVO" type="net.lab1024.smartadmin.module.oil.scjt.domain.vo.CarTrafficFlowVO"></resultMap>

    <!-- 交易明细/车牌矫正 -->
    <select id="queryByPage" resultMap="TradeVO">
        SELECT
            *
        FROM
            fullingdb.bus_tradelog
        <where>
            <if test="queryDTO.startTime != null">
                AND endtime <![CDATA[ >= ]]> #{queryDTO.startTime}
            </if>
            <if test="queryDTO.endTime != null">
                AND endtime <![CDATA[ <= ]]> #{queryDTO.endTime}
            </if>
            <if test="queryDTO.stationAreaName != null and queryDTO.stationAreaName != ''">
                AND station_area_name LIKE CONCAT('%', #{queryDTO.stationAreaName}, '%')
            </if>
            <if test="queryDTO.stationAreaNames != null">
                AND station_area_name in (
                <foreach collection="queryDTO.stationAreaNames" item="item" index="index" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="queryDTO.stationExpName != null and queryDTO.stationExpName != ''">
                AND station_exp_name LIKE CONCAT('%', #{queryDTO.stationExpName}, '%')
            </if>
            <if test="queryDTO.stationExpNames != null">
                AND station_exp_name in (
                <foreach collection="queryDTO.stationExpNames" item="item" index="index" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="queryDTO.stationExpServiceArea != null and queryDTO.stationExpServiceArea != ''">
                AND station_exp_service_area LIKE CONCAT('%', #{queryDTO.stationExpServiceArea}, '%')
            </if>
            <if test="queryDTO.stationExpServiceAreas != null">
                AND station_exp_service_area in (
                <foreach collection="queryDTO.stationExpServiceAreas" item="item" index="index" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="queryDTO.stationCode != null and queryDTO.stationCode != ''">
                AND station_code LIKE CONCAT('%', #{queryDTO.stationCode}, '%')
            </if>
            <if test="queryDTO.stationCodes != null">
                AND station_code in (
                <foreach collection="queryDTO.stationCodes" item="item" index="index" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="queryDTO.stationName != null and queryDTO.stationName != ''">
                AND station_name LIKE CONCAT('%', #{queryDTO.stationName}, '%')
            </if>
            <if test="queryDTO.stationNames != null">
                AND station_name in (
                <foreach collection="queryDTO.stationNames" item="item" index="index" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="queryDTO.oilCode != null and queryDTO.oilCode != ''">
                AND oilcode LIKE CONCAT('%', #{queryDTO.oilCode}, '%')
            </if>
            <if test="queryDTO.oilCodes != null">
                AND oilcode in (
                <foreach collection="queryDTO.oilCodes" item="item" index="index" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="queryDTO.nozzleNo != null and queryDTO.nozzleNo != ''">
                AND nozzleno = #{queryDTO.nozzleNo}
            </if>
            <if test="queryDTO.billNo != null and queryDTO.billNo != ''">
                AND billNo = #{queryDTO.billNo}
            </if>
            <if test="queryDTO.carNumber != null and queryDTO.carNumber != ''">
                AND carnumber LIKE CONCAT('%', #{queryDTO.carNumber}, '%')
            </if>
        </where>
    </select>

    <select id="queryMatchRatio" resultMap="MatchRatioVO">
        SELECT
            COUNT( distinct endtime) total_deal,
            SUM(case when length(trim(carnumber)) > 1 then 1 else 0 end) is_match
        FROM
        fullingdb.bus_tradelog
        <where>
            <if test="queryDTO.startTime != null">
                AND endtime <![CDATA[ >= ]]> #{queryDTO.startTime}
            </if>
            <if test="queryDTO.endTime != null">
                AND endtime <![CDATA[ <= ]]> #{queryDTO.endTime}
            </if>
            <if test="queryDTO.stationAreaName != null and queryDTO.stationAreaName != ''">
                AND station_area_name LIKE CONCAT('%', #{queryDTO.stationAreaName}, '%')
            </if>
            <if test="queryDTO.stationExpName != null and queryDTO.stationExpName != ''">
                AND station_exp_name LIKE CONCAT('%', #{queryDTO.stationExpName}, '%')
            </if>
            <if test="queryDTO.stationExpServiceArea != null and queryDTO.stationExpServiceArea != ''">
                AND station_exp_service_area LIKE CONCAT('%', #{queryDTO.stationExpServiceArea}, '%')
            </if>
            <if test="queryDTO.stationCode != null and queryDTO.stationCode != ''">
                AND station_code LIKE CONCAT('%', #{queryDTO.stationCode}, '%')
            </if>
            <if test="queryDTO.stationName != null and queryDTO.stationName != ''">
                AND station_name LIKE CONCAT('%', #{queryDTO.stationName}, '%')
            </if>
            <if test="queryDTO.oilCode != null and queryDTO.oilCode != ''">
                AND oilcode LIKE CONCAT('%', #{queryDTO.oilCode}, '%')
            </if>
            <if test="queryDTO.nozzleNo != null and queryDTO.nozzleNo != ''">
                AND nozzleno = #{queryDTO.nozzleNo}
            </if>
            <if test="queryDTO.billNo != null and queryDTO.billNo != ''">
                AND billNo = #{queryDTO.billNo}
            </if>
            <if test="queryDTO.carNumber != null and queryDTO.carNumber != ''">
                AND carnumber LIKE CONCAT('%', #{queryDTO.carNumber}, '%')
            </if>
        </where>
    </select>

    <!-- 进出站频次 -->
    <select id="getCarInOutNum" resultMap="CarInOutNumVO">
        SELECT
            carnumber, count( key1 ) frequency
        FROM
            (
            SELECT
                DISTINCT carnumber, endtime, key1
            FROM
                (
                SELECT
                    carnumber, date( date_add( endtime, INTERVAL 8 HOUR ) ) endtime, CONCAT( carnumber, ' ', date( date_add( endtime, INTERVAL 8 HOUR ) ) ) key1
                FROM
                    fullingdb.bus_tradelog
                WHERE
                    <if test="queryDTO.startTime != null">
                        endtime <![CDATA[ >= ]]> #{queryDTO.startTime} AND
                    </if>
                    <if test="queryDTO.endTime != null">
                        endtime <![CDATA[ <= ]]> #{queryDTO.endTime} AND
                    </if>
                    <if test="queryDTO.stationCode != null and queryDTO.stationCode != ''">
                        station_code LIKE CONCAT('%', #{queryDTO.stationCode}, '%') AND
                    </if>
                    <if test="queryDTO.stationName != null and queryDTO.stationName != ''">
                        station_name LIKE CONCAT('%', #{queryDTO.stationName}, '%') AND
                    </if>
                    <if test="queryDTO.carNumber != null and queryDTO.carNumber != ''">
                        carnumber LIKE CONCAT('%', #{queryDTO.carNumber}, '%') AND
                    </if>
                    ASCII( carnumber ) > 127
                ) a
            ) b
        GROUP BY carnumber
        <if test="queryDTO.minFrequency != null and queryDTO.minFrequency != '' and queryDTO.maxFrequency != null and queryDTO.maxFrequency != ''">
            HAVING COUNT( key1 ) <![CDATA[ >= ]]> #{queryDTO.minFrequency} AND COUNT( key1 ) <![CDATA[ <= ]]> #{queryDTO.maxFrequency}
        </if>

    </select>

    <!-- 车辆识别情况跟踪/匹配率变化 -->
    <select id="queryMatchTrackByPage" resultMap="MatchTrackVO">
        SELECT
            station_code, station_name,
            count(distinct endtime) total_deal,
            SUM(case when length(trim(carnumber)) > 1 then 1 else 0 end) is_match
        FROM
        fullingdb.bus_tradelog
        <where>
            <if test="queryDTO.startTime != null">
                AND endtime <![CDATA[ >= ]]> #{queryDTO.startTime}
            </if>
            <if test="queryDTO.endTime != null">
                AND endtime <![CDATA[ <= ]]> #{queryDTO.endTime}
            </if>
            <if test="queryDTO.stationAreaName != null and queryDTO.stationAreaName != ''">
                AND station_area_name LIKE CONCAT('%', #{queryDTO.stationAreaName}, '%')
            </if>
            <if test="queryDTO.stationExpName != null and queryDTO.stationExpName != ''">
                AND station_exp_name LIKE CONCAT('%', #{queryDTO.stationExpName}, '%')
            </if>
            <if test="queryDTO.stationExpServiceArea != null and queryDTO.stationExpServiceArea != ''">
                AND station_exp_service_area LIKE CONCAT('%', #{queryDTO.stationExpServiceArea}, '%')
            </if>
            <if test="queryDTO.stationCode != null and queryDTO.stationCode != ''">
                AND station_code LIKE CONCAT('%', #{queryDTO.stationCode}, '%')
            </if>
            <if test="queryDTO.stationName != null and queryDTO.stationName != ''">
                AND station_name LIKE CONCAT('%', #{queryDTO.stationName}, '%')
            </if>
            <if test="queryDTO.carNumber != null and queryDTO.carNumber != ''">
                AND carnumber LIKE CONCAT('%', #{queryDTO.carNumber}, '%')
            </if>
        </where>
        GROUP BY
            station_area_name, station_exp_name, station_exp_service_area, station_code, station_name

    </select>

    <!-- 车牌跟踪 -->
    <select id="queryCarTraceByPage" resultMap="CarTraceVO">
        SELECT
            left(carnumber,1) province,
            mid(carnumber,2,1) city,
            carnumber,
            date_add(t.endtime,interval 8 hour) endtime,
            t.starttime,
            t.endtime,
            o.paytime,
            o.billno,
            o.realamount,
            o.volume,
            CONCAT(t.oilcode,t.oilclass) oilcode,
            t.oilclass,
            t.station_name,
            t.station_code,
            station_area_name,
            station_exp_name,
            station_exp_service_area
        from
            (
            select paytime,billno,realamount,volume,station_code,nozzleno,startread,endread,max(update_time)
            from fullingdb.bus_orderlog
            <where>
                <if test="queryDTO.startTime != null">
                    AND date_add(t.endtime,interval 8 hour) <![CDATA[ >= ]]> #{queryDTO.startTime}
                </if>
                <if test="queryDTO.endTime != null">
                    AND date_add(t.endtime,interval 8 hour) <![CDATA[ <= ]]> #{queryDTO.endTime}
                </if>
            </where>
            group by paytime,billno,realamount,volume,station_code,nozzleno,startread,endread
            ) o
            left join
            (
            select station_code,nozzleno,startread,endread,carnumber,endtime,starttime,oilclass,oilcode,station_name,station_area_name,station_exp_name,station_exp_service_area
            from fullingdb.bus_tradelog
            where
            <if test="queryDTO.startTime != null">
                date_add(t.endtime,interval 8 hour) <![CDATA[ >= ]]> #{queryDTO.startTime} AND
            </if>
            <if test="queryDTO.endTime != null">
                date_add(t.endtime,interval 8 hour) <![CDATA[ <= ]]> #{queryDTO.endTime} AND
            </if>
                ASCII(carnumber) <![CDATA[>]]> 127
            ) t
        on o.station_code=t.station_code
            and o.nozzleno=t.nozzleno
            and o.startread=t.startread
            and o.endread=t.endread
        WHERE
        <if test="queryDTO.startTime != null">
            date_add(t.endtime,interval 8 hour) <![CDATA[ >= ]]> #{queryDTO.startTime} AND
        </if>
        <if test="queryDTO.endTime != null">
            date_add(t.endtime,interval 8 hour) <![CDATA[ <= ]]> #{queryDTO.endTime} AND
        </if>
        <if test="queryDTO.stationAreaName != null and queryDTO.stationAreaName != ''">
            t.station_area_name LIKE CONCAT('%', #{queryDTO.stationAreaName}, '%') AND
        </if>
        <if test="queryDTO.stationExpName != null and queryDTO.stationExpName != ''">
            t.station_exp_name LIKE CONCAT('%', #{queryDTO.stationExpName}, '%') AND
        </if>
        <if test="queryDTO.stationExpServiceArea != null and queryDTO.stationExpServiceArea != ''">
            t.station_exp_service_area LIKE CONCAT('%', #{queryDTO.stationExpServiceArea}, '%') AND
        </if>
        <if test="queryDTO.stationCode != null and queryDTO.stationCode != ''">
            t.station_code LIKE CONCAT('%', #{queryDTO.stationCode}, '%') AND
        </if>
        <if test="queryDTO.stationName != null and queryDTO.stationName != ''">
            t.station_name LIKE CONCAT('%', #{queryDTO.stationName}, '%') AND
        </if>
        <if test="queryDTO.carNumber != null and queryDTO.carNumber != ''">
            t.carnumber LIKE CONCAT('%', #{queryDTO.carNumber}, '%') AND
        </if>
            length(t.carnumber) <![CDATA[>]]> 0
    </select>

    <!-- 车流走势 -->
    <select id="queryCarTrafficFlowByPage" resultMap="CarTrafficFlowVO">
        SELECT
            left(carnumber,1) province,
            mid(carnumber,2,1) city,
            station_area_name,
            station_exp_name,
            station_exp_service_area,
            station_name,
            station_code,
            carnumber,
            CONCAT(oilcode,oilclass) oilcode,
            oilclass,
            cast(date_add(t.endtime,interval 8 hour) as date) endtime,
            count(date_add(endtime,interval 8 hour)) total_deal,
            sum(volume) volume
        FROM fullingdb.bus_tradelog
        WHERE
        <if test="queryDTO.startTime != null">
            date_add(t.endtime,interval 8 hour) <![CDATA[ >= ]]> #{queryDTO.startTime} AND
        </if>
        <if test="queryDTO.endTime != null">
            date_add(t.endtime,interval 8 hour) <![CDATA[ <= ]]> #{queryDTO.endTime} AND
        </if>
        <if test="queryDTO.stationAreaName != null and queryDTO.stationAreaName != ''">
            t.station_area_name LIKE CONCAT('%', #{queryDTO.stationAreaName}, '%') AND
        </if>
        <if test="queryDTO.stationExpName != null and queryDTO.stationExpName != ''">
            t.station_exp_name LIKE CONCAT('%', #{queryDTO.stationExpName}, '%') AND
        </if>
        <if test="queryDTO.stationExpServiceArea != null and queryDTO.stationExpServiceArea != ''">
            t.station_exp_service_area LIKE CONCAT('%', #{queryDTO.stationExpServiceArea}, '%') AND
        </if>
        <if test="queryDTO.stationCode != null and queryDTO.stationCode != ''">
            t.station_code LIKE CONCAT('%', #{queryDTO.stationCode}, '%') AND
        </if>
        <if test="queryDTO.stationName != null and queryDTO.stationName != ''">
            t.station_name LIKE CONCAT('%', #{queryDTO.stationName}, '%') AND
        </if>
        <if test="queryDTO.carNumber != null and queryDTO.carNumber != ''">
            t.carnumber LIKE CONCAT('%', #{queryDTO.carNumber}, '%') AND
        </if>
            ASCII(carnumber) <![CDATA[>]]> 127 AND LENGTH(oilclass) <![CDATA[>]]> 0
        GROUP BY province, city, station_area_name, station_exp_name, station_exp_service_area, station_name, station_code
            cast(date_add(t.endtime,interval 8 hour) as date), carnumber, oilcode, oilclass
        ORDER BY t.endtime
    </select>
</mapper>